.subtitle_container {
	line-height: normal;
	position: absolute;
	pointer-events: none;
	transform-origin: 0 0 0;
	top: 0;
	left: 0;
	width: 100%;
}
.subtitle_container text, .subtitle_container path {
	dominant-baseline: text-before-edge;
	text-anchor: start;
	transform-box: view-box;
	paint-order: stroke;
	position: absolute;
	top: 0;
	left: 0;
}
.subtitle_container tspan {
	white-space: pre;
}
.subtitle_container mask path {
	fill: white;
}
